html{
    background-color: gray;
    margin:0;
    padding: 0;
}


.drop_{
    position: absolute;
    margin-left: 64rem;
    margin-top: 1rem;

}

#bulkMsgHelpText1,#bulkMsgHelpText2{
    display: none;


}


.dropItem1:hover + #bulkMsgHelpText1 {
  display: block;
  color: black;
  position: absolute;
  margin-left: -15rem;
  margin-top:-.51rem;
  background-color: lightseagreen;
}


.dropItem2:hover + #bulkMsgHelpText2 {
  display: block;
  color: black;
  position: absolute;
  margin-left: -15rem;
  margin-top:-.51rem;
  background-color: lightseagreen;
}



.dropMsg{

    margin-top: -.5rem;  
   

}



nav ul{
    list-style-type: none;
    display:flex;
    float: right;
    margin-top: 1.5rem;
    margin-right: 8rem;

    
}

#logo{
    height: 15%;
    position: absolute;
    margin-left: 1rem;

}

nav a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}



.headList{
    margin-right:15px;

}

.header-container{
    background-color:lightcyan ;
    height: 4.5rem;
    width: 100%;
}

#headerText{
    position: absolute;
    margin-top: .3rem;
    margin-left: 21rem;
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

#sloganText{
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 13rem;
    font-size: 1.5rem;
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.inst-container{
    margin-top: 1rem;
    width: 100%;
    border-radius: 1rem;
    height: max-content;
    background-color: lightgray;
    padding-block-end: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

#instHeader{
    text-align: center;
    padding-top: .5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.instText{
    margin-left: 1rem;
}

.instText li{
    margin-top: .5rem;
    font-size: 1.2rem;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
}


.container{
    display: inline-flex;
}

#demoPic{
    inline-size: 70%;
    block-size: 10%;
    margin-top: 1rem;
}

#sendImage{
    margin-top: .5rem;
    border-radius: 1rem;
    inline-size: 50%;
}

.el-container{
    width: 38rem;
    margin-left:8rem ;
    height: 27rem;
    margin-top: .5rem;
    border-radius: 1rem;
    background-color: inherit;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
}

#helpText{
    position: absolute;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    letter-spacing: 2px;
}


#S_helpText{
    position: absolute;
    font-size: 1.5rem;
    margin-left: 10rem;
    margin-top: 1rem;
    letter-spacing: 3px;
}


/* this class is for the django created forms help text */
.helptext{
    display: none;
}

#id_file{
    margin-left: 10rem;
    margin-top: 5rem;
    width: 15rem;
    font-size: 1.2rem;

}

.errorlist{
    visibility: visible;
    display: block;
    text-align: center;
    list-style-type: none;
    margin-bottom: -1.5rem;
    margin-top: .5rem;

}

#sendBtn{
    margin-left: 12rem;
    margin-top: 1rem;
    position: absolute;
    background-color: lightgray;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;

}



#S_sendBtn{
    margin-left: 12rem;
    margin-top: 4rem;
    position: absolute;
    background-color: lightgray;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}





#stopBtn{
    margin-left: 13rem;
    margin-top: 4rem;
    position: absolute;
    background-color: orangered;
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    border-style: none;
}


#S_stopBtn{
    margin-left: 13.4rem;
    margin-top: 7.5rem;
    position: absolute;
    padding-block-start: .2rem;
    text-align: center;
    background-color: orangered;
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}




#status{
    background-color: lightgray;
    margin-top: 5rem;
    width: 30rem;
    height: 10rem;
    margin-left: 3rem;
    padding-inline: 10px;
    padding-block: 10px;
    overflow-y: scroll;
}



#message_input{
    background-color: lightgray;
    margin-top: 11rem;
    width: 30rem;
    height: 10rem;
    margin-left: 3rem;
    word-break: break-word;
    padding-inline-start: 1rem;
    padding-block-start: .5rem;
    overflow-y: scroll;
    display: block;
}


#message_output{
    background-color: lightgray;
    margin-top: 11rem;
    width: 30rem;
    height: 10rem;
    margin-left: 3rem;
    word-break: break-word;
    padding-inline-start: 1rem;
    padding-block-start: .5rem;
    overflow-y: scroll;
    list-style-type: none;
    text-align: left;
    font-family: "Inconsolata", monospace;
    font-size: 1.1rem;
    display: none;

}


.f-container{
    width: 38rem;
    margin-left:13rem ;
    height: 27rem;
    margin-top: .5rem;
    border-radius: 1rem;
    background-color: inherit;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
}


.reg-form{

    background-color: inherit;
}

.reg-form  input{
    margin-right: 5rem;
    margin-left: 5rem;
    width: 15rem;
    padding-inline-start: 10px;
    height: 2.5rem;
    border-width:1px ;
    border-radius: 10px;
    margin-bottom: .5rem;
    margin-top: 2rem;
}

#has_acc{
    margin-top: .5rem;
    text-align: center;
}

#regBtn{
    margin-left: 10rem;
    margin-top: 10px;
}


.errorlist{
    display: block;
}

#regText{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: -1.0rem;
}



.log-form{
    float: right;
    background-color: inherit;
    margin-top: 2rem;
}

#signText{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#no_acc{
    margin-top: 1rem;
    text-align: center;
}

.log-form  input{
    margin-right: 5rem;
    margin-left: 5rem;
    width: 15rem;
    padding-inline-start: 10px;
    height: 2.5rem;
    border-width:1px ;
    border-radius: 10px;
    margin-bottom: .5rem;
    margin-top: 1rem;
}


#log_btn{
    margin-left: 10rem;
    margin-top: 10px;
}



.customInts-container{
    width: 45rem;
    height: fit-content;
    margin-left: 36rem;
    margin-right: -12rem;
    margin-top: .5rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
   
}


.el-custom-container{
    width: 35rem;
    margin-right:-18rem ;
    position: absolute;
    height: 100vh;
    margin-top: .5rem;
    border-radius: 1rem;
    background-color: inherit;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
}

#customHeader{
    text-align: center;
    margin-top: 10px;
    text-align: center;
    padding-top: .5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
}


#custom-textarea{
    background-color: lightgray;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 5rem;
    width: 30rem;
    height: 10rem;
    margin-left: 3rem;
    padding-inline: 10px;
    padding-block: 10px;
    overflow-y: scroll;
    
}



#customdemoPic{
    inline-size: 70%;
    height: 15rem;
    margin-top: 1rem;
}
