{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Imbue:opsz,wght@10..100,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Imbue:opsz,wght@10..100,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header-container">
        <img id="logo" src="{% static 'images/logo.png' %}" alt="none">
        <div class="dropdown ">
  <button class="btn btn-secondary drop_" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if user.is_authenticated %}
        {{user.username}}
    {% else %}
        Account
    {% endif %}
  </button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
    {% if user.is_authenticated %}
        <a class="dropdown-item" href=" {% url 'logout' %}">Log Out</a>

    {% else %}    
        <a class="dropdown-item" href=" {% url 'login' %}">Log In</a>
        <a class="dropdown-item" href="{% url 'register' %}">Sign Up</a>
    {% endif %}
  </div>
</div>
        <nav>
           <p id="headerText">AutoRelay</p>
           <p id="sloganText">Effortless messaging,Powerful marketing</p>
            <ul>
                <a href="{% url 'home' %}"><li class="headList">Home</li></a>
                {% if not user.is_authenticated %}
                    <a href="{% url 'send' %}"><li class="headList">Send Messages</li></a>

                {% else %}

                    <div class="dropdown ">
                        <button class="btn btn-secondary dropMsg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Send Messages
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item dropItem1" href=" {% url 'send' %}">Bulk Messages</a>
                            <p id="bulkMsgHelpText1">Upload a csv file with phone numbers and messages and we will send all those messages to their corresponding phone number.</p>
                            <a class="dropdown-item dropItem2" href="{% url 'customOneToMany' %}">Custom Messages</a>
                            <p id="bulkMsgHelpText2">Send a similar message to many recipients or customize that similar message to for each recipient.</p>
                        </div>
                    </div>

                {% endif %}
            </ul>
        </nav>
    </div>
{% block content %}


    


{% endblock %}
<script type="text/javascript">



    
function isMobile(){
    return /Android|iPhone/i.test(navigator.userAgent);
}

if (isMobile()) {
    alert("You can only access this website from a computer!");
    window.location.replace("{% url 'mobile' %}")

}
</script>
</body>
</html>