<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	Access denied for mobile phones</title>
</head>
<body>

	<style type="">
		
		body{
			background-image: url("../../static/images/sendImage.png");
			background-size: cover;
			background-repeat:repeat;
		}

		.container-info{
			position: absolute;
			box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
			margin-top: 11rem;
			margin-bottom: 2rem;
			font-size: .9rem;
    		font-family: "Inconsolata", monospace;
    		font-optical-sizing: auto;
    		font-weight: 400;
   
		}
	</style>

		<div class="container-info">	
				<p id="textInfo">
					AutoRelay uses Whatsapp Web which is can only be accessed using a computer and not a mobile device!.Kindly open AutoRelay on your computer's browser to enjoy our services.
				</p>
		</div>

</body>
</html>