{% extends "main/base.html" %}
{% block title %}autoRelay-Send Messages{% endblock  %}
{% load static %}

{% block content %}

<div class="container">
	<img id="sendImage" src="{% static 'images/sendImage.png' %}" alt="none">
	<div class="el-container">
		<p id="helpText">Please upload recipients.csv file below.</p>
		<form method="POST" enctype="multipart/form-data">
			 {% csrf_token %} 
			{{context.form}}<br>
			<button id="sendBtn" type="submit" name="send" value="send">Send Messages</button>
			
		</form>

		<p id="status">{{context.msg}}</p>
	</div>
</div>


<script>

sendBtn = document.getElementById('sendBtn');
fileChoose = document.getElementById("id_file");

sendBtn.addEventListener("click",sayHi);


//making sure that user only uploads csv files
function sayHi(){
	if (fileChoose.files.length == 0) {
		alert("Please choose the Recipient.csv file to continue");
	}else{
		var allowedExtensions = /(\.csv)$/i;
		ext = fileChoose.value;
		
		if (!allowedExtensions.exec(ext)) {
			alert("Not allowed");
			fileChoose.value = "";
			return false;
		}
		else{
			return true;		}
	}
}
</script>

{% endblock  %}